.form__btn {
  margin: 5px 0 0 0;
  width: 360px;
  height: 64px;
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}


.form__btn:hover {
  background: #347EFF;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}

.form__btn:active {
  background: #2A65CC;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}

.form__btn:disabled {
  background: #E6E8EB;
  color: #B6BCBF;
}

@media screen and (max-width: 767px) {
	.form__btn {
    width: 288px;
    margin-top: -10px;
  }
}
