.no-articles__text {
  margin: 15px 0 0 0;
  max-width: 340px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #B6BCBF;
  }