@import url(./__photo/author__photo.css);
@import url(./__photo-image/author__photo-image.css);
@import url(./__about/author__about.css);
@import url(./__title/author__title.css);
@import url(./__paragraph/author__paragraph.css);

.author {
  display: flex;
  max-width: 1440px;
  width: 100%;
  background-color: #FFF;
}

@media screen and (max-width: 767px) {
	.author {
    flex-direction: column;
    align-items: center;
    margin: 0 0 80px 0;
  }
}