.results__keywords {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  margin: 28px 0 56px 104px;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
	.results__keywords {
    margin: 16px 0 32px 40px;
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (max-width: 767px) {
	.results__keywords {
    margin: 16px 0 32px 16px;
    font-size: 18px;
    line-height: 24px;
  }
}