.btn.btn__logout {
  cursor: pointer;
  padding: 12px 19px 12px 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 100px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.btn.btn__logout {
    padding: 8 15px 8px 15px;
  }
}

@media screen and (max-width: 767px) {
	.btn.btn__logout {
    display: none;
  }
}