.mobile-menu__link {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 56px;
  color: #FFF;
}

.mobile-menu__link:hover {
  opacity: .8;
}