@import url(../vendor/fonts.css);
@import url(../vendor/normalize.css);
@import url(../blocks/btn/btn.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header-cover/header-cover.css);
@import url(../blocks/header/header.css);
@import url(../blocks/search/search.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/mobile-menu/mobile-menu.css);
@import url(../blocks/form/form.css);
@import url(../blocks/results/results.css);
@import url(../blocks/articles-list/articles-list.css);
@import url(../blocks/article/article.css);
@import url(../blocks/author/author.css);
@import url(../blocks/footer/footer.css);

body {
  display: flex;
  flex-direction: column;
}

.block {
  max-height: 205px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
