.author__title {
  margin: 0;
  width: 496px;
  height: 46px;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.author__title {
    max-width: 424px;
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 767px) {
	.author__title {
    width: 95%;
    margin: 0;
    font-size: 30px;
    line-height: 40px;
  }
}